
body {
    margin: 0;
    padding-top: 90px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-family: 'Marcellus', serif;
}


.ocean-background {
    background: none !important;
}


h1, h2, h3, p{
    font-family: 'Marcellus', serif;
    letter-spacing: 2px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    z-index: 1000;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}



.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.navlogo {
    height: 45px;
    width: auto;
}

.nav-title {
    font-size: 24px;
    font-family: "Marcellus", serif;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 30px;
    transition: 0.25s;
    white-space: nowrap;
}


.nav-links a:hover{
    background:black;
    color:black;
}

body {
    padding-top: 90px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}
