body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto; 
}

.headernav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.headernav ul li {
    font-size: 35px;
    padding: 0 15px 0 15px;
}

.headernav ul li:first-child {
    margin-right: auto;
}

.headernav ul a, button a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.headernav{
    padding: 25px 0 75px 0;
}